{% extends "locations/base.html" %}
{% load bootstrap4 %}

{% block page_title %}
	Edit Country
{% endblock page_title %}

{% block content %}

<div class="container">

  <div class="row justify-content-center">
    <div class="col-10">
      <h1 class="display-4">Edit {{country}}'s data</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
		<form  id="myform" enctype="multipart/form-data" action="{% url 'locations:edit_country' country.id %}" method='post' class='form'>
		{% csrf_token %}
		{% bootstrap_form form %}
	</form>
	</div>
  </div>
	<br>
	<div class="row justify-content-center">
        <div class="col-">
            <a href="{% url 'locations:countries_page' %}" class="btn btn-dark">Go back</a>
		    <button form="myform" name='submit' class='btn btn-dark'>Save</button>
        </div>
    </div>
</div>
</div>
{% endblock content %}

