{% load bootstrap4 %}

<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	{% bootstrap_css %}
	{% bootstrap_javascript jquery='full' %}
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-5">
            <h1 class="display-4">Log in</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-5">
				<form method='post' action="{% url 'locations:login' %}" class='form'>
					{% csrf_token %}
					{% bootstrap_form form %}
					{% buttons %}
						<button name="submit" class='btn btn-secondary'>log in</button>
					{% endbuttons %}
					<input type='hidden' name='next' value="{% url 'locations:countries_page' %}">
				</form>
        </div>
    </div>

</div>


</body>
</html>